.frame-2594,
.frame-2594 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.frame-2594 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-color: transparent;
}
._01 {
  background-color: #010101;
  flex-shrink: 0;
  width: var(--var-sds-responsive-device-width, 1200px);
  height: 7651px;
  position: relative;
}
.ellipse-1030 {
  background: linear-gradient(
    99.7deg,
    rgba(119, 119, 119, 1) 0%,
    rgba(1, 1, 1, 1) 100%
  );
  border-radius: 50%;
  width: 326px;
  height: 1376px;
  position: absolute;
  left: calc(50% - 600px);
  top: 4834px;
  filter: blur(467.82px);
}
.ellipse-1034 {
  background: rgba(54, 54, 54, 0.2);
  border-radius: 50%;
  width: 1175px;
  height: 974px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 6677px;
}
.img-0011-1 {
  width: 236px;
  height: 494px;
  position: absolute;
  left: 3px;
  top: 4129px;
  object-fit: cover;
}
.if-it-s-not-weird-i-am-not-interested {
  color: #707070;
  text-align: center;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  left: calc(50% - -204px);
  top: 7060px;
  width: 351px;
  height: 48px;
  transform-origin: 0 0;
  transform: rotate(180deg) scale(1, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-231924 {
  background: rgba(112, 112, 112, 0.3);
  padding: 10px 300px 10px 300px;
  display: flex;
  flex-direction: row;
  gap: 21px;
  align-items: center;
  justify-content: center;
  width: 1200.27px;
  height: 55.04px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 1194.33px;
  transform-origin: 0 0;
  transform: rotate(-0.697deg) scale(0.997, 1.003);
}
.frame-232010 {
  display: flex;
  flex-direction: row;
  gap: 21px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.group {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.frame-231929 {
  display: flex;
  flex-direction: row;
  gap: 21px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.collage-student {
  color: #010101;
  text-align: center;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-232016 {
  display: flex;
  flex-direction: row;
  gap: 21px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 30.31px;
  height: 30.31px;
  position: relative;
}
.frame-232015 {
  display: flex;
  flex-direction: row;
  gap: 21px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.group2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.frame-231931 {
  display: flex;
  flex-direction: row;
  gap: 21px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.cinema {
  color: #010101;
  text-align: center;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-232011 {
  display: flex;
  flex-direction: row;
  gap: 21px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.group3 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.frame-231930 {
  display: flex;
  flex-direction: row;
  gap: 21px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.photography {
  color: #010101;
  text-align: center;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-232012 {
  display: flex;
  flex-direction: row;
  gap: 21px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.group4 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.video-editor {
  color: #010101;
  text-align: center;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-232013 {
  display: flex;
  flex-direction: row;
  gap: 21px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.group5 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.about-me {
  color: #707070;
  text-align: left;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  left: 103px;
  top: 100px;
  width: 251px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.personal-info {
  color: #707070;
  text-align: left;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  left: 228px;
  top: 100px;
  width: 159px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.what-i-can-do {
  color: #707070;
  text-align: left;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  left: 419px;
  top: 100px;
  width: 179px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.tools-my-photos {
  color: #707070;
  text-align: left;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  left: 626px;
  top: 100px;
  width: 213px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.contacts {
  color: #707070;
  text-align: left;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  left: 871px;
  top: 100px;
  width: 137px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.glow {
  background: linear-gradient(
    105.96deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(35, 33, 38, 1) 65.06770253181458%,
    rgba(46, 45, 48, 1) 100%
  );
  border-radius: 50%;
  width: 461.66px;
  height: 1066.71px;
  position: absolute;
  left: 176px;
  top: 519.64px;
  transform-origin: 0 0;
  transform: rotate(-70.992deg) scale(0.958, 1.041);
  filter: blur(232px);
}
.about-me2 {
  color: #707070;
  text-align: center;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.2em;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  left: calc(50% - 553px);
  top: 1610px;
  width: 128px;
  height: 9px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.iso-400 {
  color: #707070;
  text-align: left;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 43px;
  top: 1037px;
  width: 75px;
  height: 9px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.group-2592 {
  height: auto;
  position: absolute;
  left: 1125px;
  top: 1040px;
  overflow: visible;
}
.f-1-8 {
  color: #707070;
  text-align: left;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1094px;
  top: 81px;
  width: 56px;
}
.my-photo {
  color: #707070;
  text-align: center;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.2em;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 3901px;
  width: 103px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.what-i-can-do2 {
  color: #707070;
  text-align: center;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.2em;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  left: 882px;
  top: 2727px;
  width: 249px;
  height: 47px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.self-learner-and-proactive-i-always-aim-to-deliver-the-best-i-can-in-all-aspects-bought-my-first-canon-600-d-camera-out-of-my-pocket-so-i-could-start-learning-the-ropes-of-what-a-photograpy-is-like-for-someone-with-near-zero-video-or-photo-background-in-my-childhood-and-teenage-years-it-was-a-big-learning-curve {
  color: #dfdfdf;
  text-align: right;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  left: 821px;
  top: 2685px;
  width: 293px;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.personal-information {
  color: #707070;
  text-align: center;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.2em;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  left: 38px;
  top: 2727px;
  width: 255px;
  height: 47px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.sisna-akbar-r-19-years-collage-students {
  color: #dfdfdf;
  text-align: left;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  left: 76px;
  top: 2625px;
  width: 227px;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.tools {
  color: #707070;
  text-align: center;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.2em;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  left: calc(50% - 62px);
  top: 3273px;
  width: 107px;
  height: 21px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.this-is-the-result-of-my-photos-during-1-year-using-canon-600-d {
  color: #dfdfdf;
  text-align: center;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 3850px;
  width: 629px;
  height: 316px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.akbarbarbar-167-gmail-com {
  color: #dfdfdf;
  text-align: center;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 6845px;
  width: 284px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacts2 {
  color: #707070;
  text-align: left;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 6725px;
  width: 144px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-2593 {
  position: absolute;
  inset: 0;
}
.i-am-a-19-year-old-student-at-universitas-teknologi-yogyakarta-with-a-deep-passion-for-photography-and-videography-my-interest-in-this-field-began-when-a-friend-invited-me-to-try-it-out-which-unexpectedly-led-me-to-a-fascinating-and-challenging-journey-since-then-this-hobby-has-become-an-essential-part-of-my-life-armed-with-a-second-hand-camera-from-my-sibling-i-started-capturing-various-moments-from-landscapes-and-portraits-to-simple-everyday-scenes-filled-with-meaning-over-the-past-year-i-have-been-exploring-this-hobby-through-self-directed-learning-using-resources-such-as-online-tutorials-discussion-forums-and-hands-on-experiments-in-the-field-although-i-am-relatively-new-to-photography-and-videography-i-firmly-believe-that-with-dedication-and-hard-work-i-can-develop-my-skills-to-a-professional-level-as-a-proactive-individual-i-am-always-eager-to-learn-new-things-especially-those-aligned-with-my-interests-i-also-possess-skills-in-photo-and-video-editing-which-add-value-to-my-creative-process-for-me-every-step-from-capturing-the-images-to-the-editing-phase-is-a-valuable-experience-that-continually-teaches-me-something-new-in-addition-to-this-i-enjoy-playing-video-games-in-my-spare-time-this-activity-is-not-just-a-form-of-entertainment-but-also-a-source-of-inspiration-that-often-helps-me-generate-fresh-ideas-for-visual-concepts-i-believe-that-having-diverse-hobbies-and-interests-can-complement-one-another-and-open-up-greater-opportunities-to-create-original-and-meaningful-works-with-a-strong-desire-to-continue-learning-and-growing-i-aspire-to-contribute-significantly-to-the-world-of-photography-and-videography-by-creating-works-that-are-not-only-visually-stunning-but-also-carry-a-powerful-story-and-message {
  color: #dfdfdf;
  text-align: left;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  left: 100px;
  top: calc(50% - 2546.5px);
  width: 489.8px;
  height: 1383px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.img-0155-1 {
  width: 524px;
  height: 883px;
  position: absolute;
  left: 600px;
  top: 1403px;
  object-fit: cover;
}
.the-ments-by-me {
  color: #707070;
  text-align: center;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.2em;
  font-weight: 400;
  position: absolute;
  left: calc(50% - -551px);
  top: 2373px;
  width: 228px;
  height: 9px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.hi-i-am-akbar {
  color: #d0cbc1;
  text-align: center;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.2em;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 468px;
  width: 235px;
  height: 94px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.cinema2 {
  color: #dfdfdf;
  text-align: left;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  left: 103px;
  top: 330px;
  width: 271px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.photography2 {
  color: #dfdfdf;
  text-align: left;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  left: 201px;
  top: 377px;
  width: 159px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._2005 {
  color: #dfdfdf;
  text-align: left;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  left: 333px;
  top: 398px;
  width: 71px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.editing {
  color: #dfdfdf;
  text-align: left;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  left: 374px;
  top: 445px;
  width: 136px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.but-i-think-no {
  color: #dfdfdf;
  text-align: right;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  left: 829px;
  top: 634px;
  width: 132px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.i-like-challange {
  color: #dfdfdf;
  text-align: right;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  left: 988px;
  top: 681px;
  width: 100px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.i-used-to-be-regular-person {
  color: #dfdfdf;
  text-align: left;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  left: 651px;
  top: 571px;
  width: 245px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.creative {
  color: #707070;
  text-align: center;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.2em;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 597px);
  top: 3695px;
  width: 343px;
  height: 25px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
._6 {
  padding: 0px 0px 475px 0px;
  display: flex;
  flex-direction: column;
  gap: 71px;
  align-items: center;
  justify-content: flex-start;
  width: 360px;
  height: 435px;
  position: absolute;
  left: 3px;
  top: 3333px;
}
.apple {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.border {
  border-radius: 8px;
  border-style: solid;
  border-color: var(--color-dark-grey, #292a36);
  border-width: 2px;
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 273px;
  height: 273px;
  position: relative;
}
.project-description {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.filmora {
  color: #dfdfdf;
  text-align: center;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 20px;
  line-height: 140%;
  font-weight: 400;
  position: relative;
}
._7 {
  padding: 0px 0px 479px 0px;
  display: flex;
  flex-direction: column;
  gap: 71px;
  align-items: center;
  justify-content: flex-start;
  width: 362px;
  height: 408px;
  position: absolute;
  left: 416px;
  top: 3333px;
}
.dropbox {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.border2 {
  border-radius: 8px;
  border-style: solid;
  border-color: var(--color-dark-grey, #292a36);
  border-width: 2px;
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 275px;
  height: 273px;
  position: relative;
}
.lightroom {
  color: #dfdfdf;
  text-align: center;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 20px;
  line-height: 140%;
  font-weight: 400;
  position: relative;
}
._8 {
  padding: 0px 0px 479px 0px;
  display: flex;
  flex-direction: column;
  gap: 71px;
  align-items: center;
  justify-content: flex-start;
  width: 363px;
  height: 372px;
  position: absolute;
  left: 827px;
  top: 3333px;
}
.microsoft {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.border3 {
  border-radius: 8px;
  border-style: solid;
  border-color: var(--color-dark-grey, #292a36);
  border-width: 2px;
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 272px;
  height: 272px;
  position: relative;
}
.cap-cut {
  color: #dfdfdf;
  text-align: center;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 20px;
  line-height: 140%;
  font-weight: 400;
  position: relative;
}
.image-2 {
  width: 64px;
  height: 54px;
  position: absolute;
  left: 155px;
  top: 3439px;
  object-fit: cover;
}
.image-1 {
  width: 51px;
  height: 49px;
  position: absolute;
  left: 626px;
  top: 3439px;
  transform: translate(-55px, 0px);
  overflow: visible;
  object-fit: cover;
}
.image-3 {
  width: 44px;
  height: 48px;
  position: absolute;
  left: 981px;
  top: 3441px;
  object-fit: cover;
}
.instagram-ak-8-a-7 {
  color: #dfdfdf;
  text-align: center;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 6785px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.instagram-ak-8-a-7-span {
  color: #dfdfdf;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  text-decoration: underline;
}
.instagram-ak-8-a-7-span2 {
  color: #dfdfdf;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
}
.img-0370-1 {
  width: 236px;
  height: 481px;
  position: absolute;
  left: 288px;
  top: 4129px;
  object-fit: cover;
}
.img-0006-1 {
  width: 572px;
  height: 448px;
  position: absolute;
  left: 3px;
  top: 4610px;
  object-fit: cover;
}
.img-9619-1 {
  width: 254px;
  height: 494px;
  position: absolute;
  left: 658px;
  top: 4103px;
  object-fit: cover;
}
.img-9919-1 {
  width: 236px;
  height: 494px;
  position: absolute;
  left: 954px;
  top: 4129px;
  object-fit: cover;
}
.img-8347-1 {
  width: 532px;
  height: 448px;
  position: absolute;
  left: 658px;
  top: 4610px;
  object-fit: cover;
}
.img-8209-1 {
  width: 254px;
  height: 547px;
  position: absolute;
  left: 936px;
  top: 5143px;
  object-fit: cover;
}
.img-20230930-184744-1 {
  width: 572px;
  height: 489px;
  position: absolute;
  left: 3px;
  top: 5721px;
  object-fit: cover;
}
.img-20231027-201254-1 {
  width: 539px;
  height: 475px;
  position: absolute;
  left: 651px;
  top: 5735px;
  object-fit: cover;
}
.img-20231202-134821-1 {
  width: 590px;
  height: 547px;
  position: absolute;
  left: 3px;
  top: 5143px;
  object-fit: cover;
}
.img-8752-1 {
  width: 261px;
  height: 547px;
  position: absolute;
  left: 651px;
  top: 5143px;
  object-fit: cover;
}
